{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

{%- liquid
  assign link_class = 'sale'
  if link.title == 'Sale'
    assign link_class = 'sale'
  elsif link.title == 'New'
    assign link_class = 'new'
  endif
-%}

<div class="header3__navigation-wrapper">
  <nav class="header3__navigation">
    <ul class="header3__list">
      {%- for link in section.settings.menu.links -%}
        <li class="header3__list-item has-submenu">
          {%- if link.links != blank -%}
            <a href="#">
              <span class="header3__link-title">{{- link.title | escape -}}</span>
            </a>

            <div class="header3__submenu-wrapper">
              <ul class="header3__submenu-main-list header3__submenu-main-list--{{ link_class }}">
                {%- for childlink in link.links -%}
                  <li class="header3__submenu-list-item header3__submenu-list-item--{{ link_class }}">
                    <h2 class="header3__submenu-category">{{- childlink.title | escape -}}</h2>
                    {%- if childlink.links != blank -%}
                      <ul>
                        {%- for grandchildlink in childlink.links -%}
                          <li class="header3__sub-list-item">
                            <a class="header3__sub-link header3__sub-link--underline" href="#">
                              {{- grandchildlink.title | escape -}}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
                {%- for block in section.blocks -%}
                  {%- if link.title == block.settings.link_name -%}
                    <li class="header3__submenu-item header3__submenu-list-item header3__submenu-list-item--">
                      {{ block.settings.menu_image | image_url: width: 190 | image_tag }}
                      <div class="header3__menu-info">
                        <span class="header3__copy-heading">{{ block.settings.link_header }}</span>
                        <a class="header3__link-to" href="{{ block.settings.link_url }}">
                          {{- block.settings.link_title -}}
                        </a>
                      </div>
                    </li>
                  {%- endif -%}
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  </nav>
</div>
