{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

{% comment %}
  {% for link in linklists['main-menu'].links -%}
    {% if link.title == 'Sale' -%}
      {%- for childlink in link.links -%}
        {% if childlink.title == 'All Sale' -%}
          {%- for grandchildlink in childlink.links -%}
            {{- grandchildlink.title | escape -}}
          {%- endfor -%}
        {%- endif %}
      {%- endfor -%}
    {%- endif %}
  {%- endfor %}
{% endcomment %}
{% assign menu = linklists['main-menu'] %}
{{ menu.title }}: {{ menu.levels }}
{% for link in section.settings.menu.links %}
  {% for childlink in link.links %}
    {%- if forloop.index0 == 0 -%}
      {{ childlink.title }}
    {% endif %}
  {% endfor %}
{% endfor %}
<div className="header3__navigation-wrapper">
  <nav className="header3__navigation">
    <ul className="header3__list">
      {%- for link in section.settings.menu.links -%}
        <li className="header3__list-item has-submenu">
          {%- if link.links != blank -%}
            <a href="#">
              <span className="header3__link-title">{{- link.title | escape -}}</span>
            </a>
            <div className="header3__submenu-wrapper">
              <div className="header3__submenu-grid">
                <div className="header3__submenu-item header3__submenu-item1">
                  <ul className="header3__links-list">
                    {%- for childlink in link.links -%}
                      {%- if forloop.index0 == 0 -%}
                        <li>
                          <h2 className="header3__submenu-category">{{- childlink.title | escape -}}</h2>
                          {%- if childlink.links != blank -%}
                            <ul>
                              {%- for grandchildlink in childlink.links -%}
                                <li className="header3__sub-list-item">
                                  <a className="header3__sub-link header3__sub-link--underline" href="#">
                                    {{- grandchildlink.title | escape -}}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}
                        </li>
                      {% endif %}
                    {%- endfor -%}
                  </ul>
                  <ul className="header3__links-list">
                    {%- for childlink in link.links -%}
                      {%- if forloop.index0 == 1 -%}
                        <li>
                          <h2 className="header3__submenu-category">{{- childlink.title | escape -}}</h2>
                          {%- if childlink.links != blank -%}
                            <ul>
                              {%- for grandchildlink in childlink.links -%}
                                <li className="header3__sub-list-item">
                                  <a className="header3__sub-link header3__sub-link--underline" href="#">
                                    {{- grandchildlink.title | escape -}}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}
                        </li>
                      {%- endif -%}
                    {%- endfor -%}
                  </ul>
                  <ul className="header3__links-list">
                    {%- for childlink in link.links -%}
                      {%- if forloop.index0 == 2 -%}
                        <li>
                          <h2 className="header3__submenu-category">{{- childlink.title | escape -}}</h2>
                          {%- if childlink.links != blank -%}
                            <ul>
                              {%- for grandchildlink in childlink.links -%}
                                <li className="header3__sub-list-item">
                                  <a className="header3__sub-link header3__sub-link--underline" href="#">
                                    {{- grandchildlink.title | escape -}}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}
                        </li>
                      {%- endif -%}
                    {%- endfor -%}
                  </ul>
                  <ul className="header3__links-list">
                    {%- for childlink in link.links -%}
                      {%- if forloop.index0 == 3 -%}
                        <li>
                          <h2 className="header3__submenu-category">{{- childlink.title | escape -}}</h2>
                          {%- if childlink.links != blank -%}
                            <ul>
                              {%- for grandchildlink in childlink.links -%}
                                <li className="header3__sub-list-item">
                                  <a className="header3__sub-link header3__sub-link--underline" href="#">
                                    {{- grandchildlink.title | escape -}}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}
                        </li>
                      {%- endif -%}
                    {%- endfor -%}
                  </ul>
                  <ul className="header3__links-list">
                    {%- for childlink in link.links -%}
                      {%- if forloop.index0 == 4 -%}
                        <li>
                          <h2 className="header3__submenu-category">{{- childlink.title | escape -}}</h2>
                          {%- if childlink.links != blank -%}
                            <ul>
                              {%- for grandchildlink in childlink.links -%}
                                <li className="header3__sub-list-item">
                                  <a className="header3__sub-link header3__sub-link--underline" href="#">
                                    {{- grandchildlink.title | escape -}}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}
                        </li>
                      {%- endif -%}
                    {%- endfor -%}
                  </ul>
                  <ul className="header3__links-list">
                    {%- for childlink in link.links -%}
                      {%- if forloop.index0 == 5 -%}
                        <li>
                          <h2 className="header3__submenu-category">{{- childlink.title | escape -}}</h2>
                          {%- if childlink.links != blank -%}
                            <ul>
                              {%- for grandchildlink in childlink.links -%}
                                <li className="header3__sub-list-item">
                                  <a className="header3__sub-link header3__sub-link--underline" href="#">
                                    {{- grandchildlink.title | escape -}}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}
                        </li>
                      {%- endif -%}
                    {%- endfor -%}
                  </ul>
                </div>
                <div className="header3__submenu-item header3__submenu-item2">
                  {%- for block in section.blocks -%}
                    {%- if link.title == block.settings.link_name -%}
                        <li class="mega_menu_img">
                          <a class="mega-menu__link" href="{{ block.settings.link_url}}">
                            <div>
                              {{ block.settings.menu_image | image_url: width: 190 | image_tag }}
                            </div>
                            <div class="title">{{ block.settings.link_title }}</div>
                          </a>
                        </li>
                      {%- endif -%}
                  {%- endfor -%}
                  {% comment %} <img
                    className="header3__menu-image"
                    alt=""
                    width=""
                    height=""
                    srcset="https://cdn.media.amplience.net/i/clarks/SS25_US_EOSS_NAV_CARD?fmt=auto&amp;img404=imageNotFound&amp;w=256&amp;h=285&amp;qlt=default 1x, https://cdn.media.amplience.net/i/clarks/SS25_US_EOSS_NAV_CARD?fmt=auto&amp;img404=imageNotFound&amp;w=384&amp;h=285&amp;qlt=default 2x"
                    src="https://cdn.media.amplience.net/i/clarks/SS25_US_EOSS_NAV_CARD?fmt=auto&amp;img404=imageNotFound&amp;w=384&amp;h=285&amp;qlt=default"
                  >
                  <div className="header3__menu-info">
                    <span className="header3__copy-heading">summer savings event: up to 50% off</span>
                    <a className="header3__link-to" href="#">shop now</a>
                  </div> {% endcomment %}
                </div>
                <div className="header3__submenu-item header3__submenu-item3">
                  <img
                    className="header3__menu-image"
                    alt=""
                    width=""
                    height=""
                    srcset="https://cdn.media.amplience.net/i/clarks/W_Sale?fmt=auto&amp;img404=imageNotFound&amp;w=256&amp;h=285&amp;qlt=default 1x, https://cdn.media.amplience.net/i/clarks/W_Sale?fmt=auto&amp;img404=imageNotFound&amp;w=384&amp;h=285&amp;qlt=default 2x"
                    src="https://cdn.media.amplience.net/i/clarks/W_Sale?fmt=auto&amp;img404=imageNotFound&amp;w=384&amp;h=285&amp;qlt=default"
                    decoding="async"
                    data-nimg="intrinsic"
                  >
                  <div className="header3__menu-info">
                    <span className="header3__copy-heading">women's sale</span>
                    <a className="header3__link-to" href="#">shop now</a>
                  </div>
                </div>
                <div className="header3__submenu-item header3__submenu-item4">
                  <img
                    className="header3__menu-image"
                    alt=""
                    width=""
                    height=""
                    srcset="https://cdn.media.amplience.net/i/clarks/M_Sale?fmt=auto&amp;img404=imageNotFound&amp;w=256&amp;h=285&amp;qlt=default 1x, https://cdn.media.amplience.net/i/clarks/M_Sale?fmt=auto&amp;img404=imageNotFound&amp;w=384&amp;h=285&amp;qlt=default 2x"
                    src="https://cdn.media.amplience.net/i/clarks/M_Sale?fmt=auto&amp;img404=imageNotFound&amp;w=384&amp;h=285&amp;qlt=default"
                    decoding="async"
                    data-nimg="intrinsic"
                  >
                  <div className="header3__menu-info">
                    <span className="header3__copy-heading">men's sale</span>
                    <a className="header3__link-to" href="#">shop now</a>
                  </div>
                </div>
              </div>
            </div>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  </nav>
</div>
