{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'navigation-mega-menu' %}
{% endcomment %}
<div class="header4__navigation-wrapper">
  <nav class="header4__navigation">
    <ul class="header4__list">
      {%- for link in section.settings.menu.links -%}
        <li class="header4__list-item has-submenu">
          {%- assign imagesPresent = false -%}
          {%- for block in section.blocks -%}
            {%- if block.settings.link_name == link.title -%}
              {%- assign imagesPresent = true -%}
            {%- endif -%}
          {%- endfor -%}
          {%- if link.links != blank or imagesPresent -%}
            <a href="#" class="header4__index {{ forloop.index }}">
              <span class="header4__link-title header4__link-title--sale">{{- link.title | escape -}}</span>
            </a>

            <div class="header4__submenu-wrapper">
              <div class="header4__submenu-delete">
                <div class="header4__submenu-item header4__submenu-grid">
                  {%- for childlink in link.links -%}
                    <ul class="header4__links-list">
                      <li>
                        <ul class="header4__spacer">
                          <li class="header4__header-link-underline">
                            <a class="header4__submenu-category header4__submenu-category--underline" href="#">
                              {{- childlink.title | escape -}}
                            </a>
                          </li>
                        </ul>
                        {%- if childlink.links != blank -%}
                          <ul>
                            {%- for grandchildlink in childlink.links -%}
                              <li class="header4__sub-list-item">
                                <a
                                  class="header4__sub-link header4__sub-link--underline"
                                  href="{{ grandchildlink.url }}"
                                >
                                  {{- grandchildlink.title | escape -}}
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        {%- endif -%}
                      </li>
                    </ul>
                  {%- endfor -%}
                  {%- for block in section.blocks -%}
                    {%- if link.title == block.settings.link_name -%}
                      <li class="mega_menu_img">
                        <a class="mega-menu__link" href="{{ block.settings.link_url}}">
                          <div>
                            {{ block.settings.link_image | image_url: width: 500 | image_tag }}
                          </div>
                          <div class="title">{{ block.settings.link_title }}</div>
                        </a>
                      </li>
                    {%- endif -%}
                  {%- endfor -%}
                  {% for block in section.blocks %}
                    {%- case block.type -%}
                      {%- when 'heading' -%}
                        <h1>{{ block.settings.heading }}</h1>
                    {% endcase %}
                  {% endfor %}
                </div>
              </div>
            </div>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  </nav>
</div>
